@tailwind base;
@tailwind components;

@screen lg {
    #main-wrapper {
        clip-path: polygon(0px 0px, 90% 0px, 100% 100%, 0px 100%);
    }
}

@screen md {
    .form-context__form label {
        font-size: 16px;
        letter-spacing: .14062rem;
    }

    .sidenavLayout aside {
        overflow: visible;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: none;
        height: 100vh;
        z-index: 0;
    }

    .sidenavLayout aside::after {
        background: -webkit-gradient(linear,left bottom,left top,from(#fff),to(#F7FAFC));
        background: linear-gradient(0deg,#fff,#F7FAFC);
        z-index: -1;
    }
    .sidenavLayout nav>ul>li {
        padding: 1rem 0;
    }
    .hero-transparent img {
        mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 95%, transparent 100%);
    }
    #campaign {
        position: relative;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        z-index: 2;
    }
    #campaign::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 90%, 100% 100%, 0 100%);
        background: #FFCC00;
        z-index: -1;
    }
    .collection-links__texture {
        top: 15px;
        right: 15px;
    }

    .form-context--reversed::after, .form-context::after {
        z-index: -1;
    }
    .form-context--reversed::after, .form-context::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://admissions.rowan.edu/svgs/texture-form-context.svg);
        background-size: auto 100%;
        background-position: 50% 50%;
        content: "";
        opacity: 0.25;
    }
}

@tailwind utilities;

@responsive {
    .hide {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

.sidenavLayout aside::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 999em;
    height: 100%;
    background: #F7FAFC;
    z-index: -1;
}

.collection-links__texture {
    position: absolute;
    top: 0;
    right: 0;
    width: 248px;
    height: 188px;
}

.collection-links.collection-links--dark {
    fill: #57150b;
}

div.form_question .form_label, div.form_question label {
    display: block;
}

.form-context__form label.form_label {
    padding-left: 0;
}

div.form_page input, div.form_page label {
    vertical-align: middle;
}

.form-context__form label {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-family: t26-carbon,monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: .125rem;
    margin-bottom: 8px;
}

.base-cta-primary--black:focus, .base-cta-primary--black:hover, .form-context__form button:focus, .form-context__form button:hover {
    color: #fff;
    background-color: #000;
}

.base-cta-primary--black, .form-context__form button {
    font-family: t26-carbon,monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .13437rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px 32px;
    margin-top: 20px;
    color: #000;
    text-align: center;
    border: 1.5px solid #000;
    border-radius: 9999px;
    background-color: transparent;
    -webkit-transition-property: color,background-color;
    transition-property: color,background-color;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.form-context__form input, .form-context__form select {
    font-family: acumin-pro,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .0375rem;
    padding: 16px;
    font-size: 16px;
    border: 1.5px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div.form_page input[type=password], div.form_page input[type=text], div.form_page input[type=email], div.form_page input[type=tel], div.form_page input:not([type]), div.form_page select, div.form_page textarea {
    box-sizing: border-box;
    max-width: 100%;
}
