@tailwind base;
@tailwind components;

@screen lg {
    #main-wrapper {
        clip-path: polygon(0px 0px, 90% 0px, 100% 100%, 0px 100%);
    }
}

@screen md {
    .sidenavLayout aside {
        overflow: visible;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: none;
        height: 100vh;
        z-index: 0;
    }

    .sidenavLayout aside::after {
        background: -webkit-gradient(linear,left bottom,left top,from(#fff),to(#F7FAFC));
        background: linear-gradient(0deg,#fff,#F7FAFC);
        z-index: -1;
    }
    .sidenavLayout nav>ul>li {
        padding: 1rem 0;
    }
    .hero-transparent img {
        mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
    }
    #campaign {
        position: relative;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        z-index: 2;
    }
    #campaign::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 90%, 100% 100%, 0 100%);
        background: #FFCC00;
        z-index: -1;
    }
    .collection-links__texture {
        top: 15px;
        right: 15px;
    }

    .form-context--reversed::after, .form-context::after {
        z-index: 1;
    }
    .form-context--reversed::after, .form-context::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://admissions.rowan.edu/svgs/texture-form-context.svg);
        background-size: auto 100%;
        background-position: 50% 50%;
        content: "";
        opacity: 0.5;
    }
}

.sidenavLayout aside::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 999em;
    height: 100%;
    background: #F7FAFC;
    z-index: -1;
}

.collection-links__texture {
    position: absolute;
    top: 0;
    right: 0;
    width: 248px;
    height: 188px;
}

.collection-links.collection-links--dark {
    fill: #57150b;
}

@tailwind utilities;