{% extends "main.html" %}
{% set pagetitle = "About" %}
{% set img = "https://sites.rowan.edu/bursar/_images/Bunce%20Daisy.jpg" %}
{% set alt = "Bunce Hall with Black-Eyed Susan in front" %}

{% block title %}
How to Apply
{% endblock %}

{% block contents %}
<p><a href="https://rowan.edu">Rowan University</a> and <a href="https://rcsj.edu">Rowan College of South Jersey (RCSJ)</a> have partnered to offer students fully online degree programs at a fraction of the original cost. Upon completion of the program, students will have earned their 2-year RCSJ degree and their 4-year Rowan University degree in their respective fields of study.</p>
<div class="bg-navy-100 border-l-4 border-navy-500 text-navy-900 p-4 my-8 rounded" role="alert">
    <p class="font-bold">Saving You Money from the Start</p>
    <p>Student enrolled in Rowan Online get one locked-in price for all four years. Never worry about tuition increases or unexpected payments again!</p>
</div>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">A Partnership Like No Other</h2>
<p class="mb-2">What happens when one of the nation's top universities and New Jersey's #1 community college join forces? Rowan Online- that's what. Be delighted with top notch instructors, state-of-the-art education, and all at a price that will put a smile on your face.</p>
<p class="mb-2">Start your education with faculty from the Best Community College in NJ and end your education at one of the nation's Top Universities. Rowan University and RCSJ are reimagining the world of online education. The future of online education is here; The question is: are you?</p>
<div class="flex justify-center">
    <div class="my-8 max-w-sm w-full lg:max-w-lg lg:flex rounded">
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden shadow-lg" style="background-image: url('images/laptop-2838921.jpg')" title="Overhead view of a laptop on a desk">
        </div>
        <div class="border-r border-b border-l border-gray-200 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal shadow-lg">
            <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">Programs Designed for You</div>
            <p class="text-gray-700 text-base">With flexible 7-week courses, you can get the education you want at a pace that you'll love.</p>
            <a href="#" class="mt-2 sm:ml-0 sm:mt-1 w-full sm:w-auto inline-flex items-center justify-center px-2 py-2 border border-transparent text-base leading-6 font-semibold rounded-md text-white bg-navy-500 shadow-sm hover:bg-navy-400 focus:outline-none focus:bg-navy-600 transition ease-in-out duration-150 xl:text-lg xl:py-1">
                Apply Now →
            </a>
            </div>
        </div>
    </div>
</div>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Options You'll Love</h2>
<p class="mb-2">Some of the brightest minds have come together to make online courses that delight. Courses have been designed to fit your life and at seven weeks each, they are made to keep you on track and deliver the highest quality possible. Running on a state-of-the-art system, you can access your courses from your laptop, desktop, or phone anywhere in the world.</p>
<p class="mb-2">Convenience doesn't stop outside the classroom, either. Student advisement has been reimagined to make it fast and efficient to get the help you need <span class="font-medium">when you need it</span>; It's faster and easier than ever to get the services you need with the support you deserve.</p>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Benefits, not Bare-Bones</h2>
<p class="mb-2">Online education doesn't have to be bare-bones like at some other institutions. That's why Rowan Online gives you the benefits you deserve as a student.</p>
<p>
    <ul class="mt-4 list-none">
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Exceptional value at a budget-friendly price</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Fast, efficient student advisement</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Access to all RCSJ and Rowan University digital ammenities</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Student-centered financial aid counseling</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Career services tailored to <span class="font-medium">you</span></span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
                <span class="-mt-px">Millions in scholarship opportunities</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
                <span class="-mt-px">Programs designed with online in mind</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
                <span class="-mt-px">State-of-the-art online course technology</span>
        </li>
    </ul>
</p>
{% endblock %}