{% extends "main.html" %}
{% set pagetitle = "Construction Management Degree" %}
{% set img = "../images/Bunce%20Daisy.jpg" %}
{% set alt = "Bunce Hall" %}

{% block title%}
Bachelor of Arts in Construction Management
{% endblock %}

{% block contents %}
<article class="">
  <p>Rowan University's B.A. in Construction Management degree completion program provides those with an associate's degree
  or at least 60 credits with the remaining credits necessary to complete a bachelor's degree in this growing field while
  taking classes online. Applicants with less than 60 credits may work with an enrollment counselor to explore available
  options. This program is ideal for journeypersons and seasoned professionals in the construction industry as well as
  apprentices who are looking to develop leadership skills and advance their careers. The B.A. in Construction Management
  degree prepares individuals to supervise, manage, and inspect construction sites, buildings, and associated facilities.
  Rowan University's program has received the endorsement of the North America's Building Trades Unions.</p>
</article>


<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Potential Careers</h2>
<p>
<ul class="mt-4 list-none">
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Construction Manager</span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Project Manager</span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Construction Inspector</span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Construction Management Consultant</span>
  </li>
</ul>
</p>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Courses and Program Guide</h2>
<p class="mb-2">All Rowan Partnership Online programs have been designed to be delivered in an convenient online format.
  These courses are
  designed to help you get the information you need at a pace you'll love.</p>

<div class="bg-navy-100 border-l-4 border-navy-500 text-navy-900 p-4 my-8 rounded" role="alert">
  <p class="font-bold">Accelerating Your Learning</p>
  <p>Many Rowan Partnership Online courses offer a 7-week format for courses as opposed to a traditional 15 week format.
    Rather than taking five
    or six courses all at the same time, you can take two or three and go further in-depth and get the education you
    deserve.
  </p>
</div>

<hr class="mb-4">

<table class="overflow-x-scroll border-collapse block w-full">
  <thead class="bg-white top-0 sticky">
    <th class="w-2/6 px-2 py-2 text-left">Course Name</th>
    <th class="w-1/6 px-2 py-2 text-left">RCSJ Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Credits</th>
    <th class="w-1/6 px-2 py-2 text-left">RU Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Rowan Core</th>
  </thead>
  <tbody>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">First Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition I</td>
      <td class="font-mono">ENG 101</td>
      <td>3</td>
      <td class="font-mono">COMP 01111</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Concepts of Mathematics</td>
      <td class="font-mono">MAT 101</td>
      <td>3</td>
      <td class="font-mono">MATH 01115</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Technical Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>General Psychology</td>
      <td class="font-mono">PSY 101</td>
      <td>3</td>
      <td class="font-mono">PSY 01107</td>
      <td>HUML</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition II</td>
      <td class="font-mono">ENG 102</td>
      <td>3</td>
      <td class="font-mono">COMP 01112</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Earth Science: Land and Sea</td>
      <td class="font-mono">PHY 111</td>
      <td>4</td>
      <td class="font-mono">GEOG 16131</td>
      <td>SCIL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Technical Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Art (or Music) Appreciation I</td>
      <td class="font-mono">ART 101<br />MUS 101</td>
      <td>3</td>
      <td class="font-mono">ARHS 03130<br /> MUSG 06109</td>
      <td>ARTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Ethics</td>
      <td class="font-mono">PHI 104</td>
      <td>3</td>
      <td class="font-mono">PHIL 09150</td>
      <td>HUML</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Second Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Technical and Scientific Writing</td>
      <td class="font-mono">COM 105</td>
      <td>3</td>
      <td class="font-mono">INTR 99088</td>
      <td></td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Oral Communication</td>
      <td class="font-mono">SPE 101</td>
      <td>3</td>
      <td class="font-mono">CMS 02405</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Statistics</td>
      <td class="font-mono">MAT 103</td>
      <td>3</td>
      <td class="font-mono">STAT 02260</td>
      <td>QNTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Sociology</td>
      <td class="font-mono">SOC 101</td>
      <td>3</td>
      <td class="font-mono">SOC 08120</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Technical Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Technical Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Elementary Spanish I</td>
      <td class="font-mono">SPA 101</td>
      <td>3</td>
      <td class="font-mono">SPAN 05101</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>General Education Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>General Education Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Personal & Prof. Branding</td>
      <td class="font-mono">BUS 104</td>
      <td>1</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Associate Degree Awarded</th>
    </tr>
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Third Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Funds. of Construction Industry I</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01301</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Funds. of Construction Industry II</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01302</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Project Adminstration</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01304</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Project Building Systems</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01303</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Constr. Cost, Acc., Est., & Finanace</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01305</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Constr. Project Planning & Scheduling</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01306</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Fourth Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Advanced Leadership & Communication</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01407</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Industrial Relations in Const. Industry</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01408</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Building Energy Sys. in Constr. Industry</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01409</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Building Construction Systems & Codes</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">01410</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Constr. Safety & Loss Prevention</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01411</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Capstone Course</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">CM 01412</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
  </tbody>
</table>
{% endblock %}