{% extends "main.html" %}
{% set pagetitle = "HR Degree" %}
{% set img = "../images/Bunce%20Daisy.jpg" %}
{% set alt = "Bunce Hall with Black-Eyed Susan in front" %}

{% block title%}
Bachelor of Science in Human Resource Management
{% endblock %}

{% block contents %}
<article class="">
  <p>In an economic world in which competitive advantage is increasingly based on knowledge and creativity, effective Human Resources functions are crucial for organizations that want to improve their productivity. The Rowan Online Human Resources Management requirements prepare graduates for the HR profession using a blend of classroom, extra-, and co-curricular experiences, such as internships and project-based learning assignments. Our program is grounded in the values of workplace equity and respect and recognition for contributions of the diverse American workforce.</p>
  <p>Human resource management consists of planned organizational activities designed to improve employee efficiency and equity, such as staffing, compensation, and training.</p>
</article>


<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Potential Careers</h2>
<p>
    <ul class="mt-4 list-none">
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Human Resource Managers</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Hiring Managers</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Business Administrators</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Benefits Specialists</span>
        </li>
    </ul>
</p>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Courses and Program Guide</h2>
<p class="mb-2">All Rowan Partnership Online programs have been designed to be delivered in an convenient online format. These courses are designed to help you get the information you need at a pace you'll love.</p>

<div class="bg-navy-100 border-l-4 border-navy-500 text-navy-900 p-4 my-8 rounded" role="alert">
  <p class="font-bold">Accelerating Your Learning</p>
  <p>Many Rowan Partnership Online courses offer a 7-week format for courses as opposed to a traditional 15 week format. Rather than taking five or six courses all at the same time, you can take two or three and go further in-depth and get the education you deserve.
  </p>
</div>

<hr class="mb-4">

<table class="overflow-x-scroll border-collapse block w-full">
  <thead class="bg-white top-0 sticky">
    <th class="w-2/6 px-2 py-2 text-left">Course Name</th>
    <th class="w-1/6 px-2 py-2 text-left">RCSJ Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Credits</th>
    <th class="w-1/6 px-2 py-2 text-left">RU Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Rowan Core</th>
  </thead>
  <tbody>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">First Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition I</td>
      <td class="font-mono">ENG 101</td>
      <td>3</td>
      <td class="font-mono">COMP 01111</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Accounting I</td>
      <td class="font-mono">BUS 102</td>
      <td>4</td>
      <td class="font-mono">ACC 03210</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Introduction to Computers</td>
      <td class="font-mono">CIS 102</td>
      <td>4</td>
      <td class="font-mono">CS 01200</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Applied Calculus</td>
      <td class="font-mono">MAT 152</td>
      <td>1</td>
      <td class="font-mono">MATH 03125</td>
      <td>QUAL</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition II</td>
      <td class="font-mono">ENG 102</td>
      <td>3</td>
      <td class="font-mono">COMP 01112</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Oral Communication</td>
      <td class="font-mono">SPE 101</td>
      <td>3</td>
      <td class="font-mono">CMS 02405</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Accounting II</td>
      <td class="font-mono">BUS 103</td>
      <td>4</td>
      <td class="font-mono">ACC 03211</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Art (or Music) Appreciation I</td>
      <td class="font-mono">ART 101<br />MUS 101</td>
      <td>3</td>
      <td class="font-mono">ARHS 03130<br /> MUSG 06109</td>
      <td>ARTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Management</td>
      <td class="font-mono">BUS 231</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Second Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Statistics</td>
      <td class="font-mono">MAT 103</td>
      <td>3</td>
      <td class="font-mono">STAT 02260</td>
      <td>QUAL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Economics I</td>
      <td class="font-mono">ECO 101</td>
      <td>3</td>
      <td class="font-mono">ECON 04101</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Business Law I</td>
      <td class="font-mono">BUS 107</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>General Psychology</td>
      <td class="font-mono">PSY 101</td>
      <td>3</td>
      <td class="font-mono">PSY 01107</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Marketing</td>
      <td class="font-mono">BUS 221</td>
      <td>3</td>
      <td class="font-mono">MKT 09200</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    
    <tr class="border-b-2 border-gray-300">
      <td>Business Law II</td>
      <td class="font-mono">BUS 104</td>
      <td>3</td>
      <td class="font-mono">MGT 98242</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Fundamentals of Programming</td>
      <td class="font-mono">CIS 110</td>
      <td>4</td>
      <td class="font-mono">CS 01102</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Management Information Systems</td>
      <td class="font-mono">CIS 207</td>
      <td>3</td>
      <td class="font-mono">MIS 02234</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Earth Science: Land & Sea</td>
      <td class="font-mono">PHY 111</td>
      <td>4</td>
      <td class="font-mono">GEOG 16131</td>
      <td>SCIL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Economics II</td>
      <td class="font-mono">ECO 102</td>
      <td>3</td>
      <td class="font-mono">ECON 04102</td>
      <td>HUML</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Associate Degree Awarded</th>
    </tr>
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Third Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Management of Human Resources</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 06302</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>HRM Elective I</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Organizational Behavior</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">MGT 06300</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Finance</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">FIN 04300</td>
      <td>GLBL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    
    <tr class="border-b-2 border-gray-300">
      <td>Operations Management</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">MGT 06305</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Managing International Business</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">MGT 06330</td>
      <td>GLBL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Recruitment and Selection</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 06315</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Supervised Internship</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 06361</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>    
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Fourth Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Labor and Employee Relations</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 16401</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Management of Compensation</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 06425</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>HRM Elective II</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Non-Program <em>or</em> HRM Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Legal Aspects of HRM</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">HRM 98337</td>
      <td>WI</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Business Policy</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">MGT 06402</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>HR Management Elective III</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
  </tbody>
</table>
{% endblock %}