{% extends "main.html" %}
{% set pagetitle = "HR Degree" %}
{% set img = "https://sites.rowan.edu/bursar/_images/Bunce%20Daisy.jpg" %}
{% set alt = "Bunce Hall with Black-Eyed Susan in front" %}

{% block title%}
Bachelor of Science in Human Resource management
{% endblock %}

{% block contents %}
<p>In an economic world in which competitive advantage is increasingly based on knowledge and creativity, effective Human Resources functions are crucial for organizations that want to improve their productivity. The Rowan Online Human Resources Management requirements prepare graduates for the HR profession using a blend of classroom, extra-, and co-curricular experiences, such as internships and project-based learning assignments. Our program is grounded in the values of workplace equity and respect and recognition for contributions of the diverse American workforce.</p>
<p>Human resource management consists of planned organizational activities designed to improve employee efficiency and equity, such as staffing, compensation, and training.</p>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Potential Careers</h2>
<p>
    <ul class="mt-4 list-none">
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Human Resource Managers</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Hiring Managers</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Business Administrators</span>
        </li>
        <li class="mt-3 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0"><circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z" class="text-navy-600 fill-current"></path></svg>
            <span class="-mt-px">Benefits Specialists</span>
        </li>
    </ul>
</p>

<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Courses and Program Guide</h2>
<p class="mb-2">All Rowan Online programs have been designed to be delivered in an accelerated format. These courses are designed to help you get the information you need at a pace you'll love.</p>

<div class="bg-navy-100 border-l-4 border-navy-500 text-navy-900 p-4 my-8 rounded" role="alert">
    <p class="font-bold">Accelerating Your Learning</p>
    <p>Rowan Online uses a 7-week format for courses as opposed to a traditional 15 week format. Rather than taking five or six courses all at the same time, take two or three and go further in-depth and get the education you deserve.</p>
</div>

<hr class="mb-4">

<table class="table-auto w-full">
  <thead>
    <th class="w-1/2 px-4 py-2">Course Name</th>
    <th class="w-1/2 px-4 py-2">Course Number</th>
    <th class="w-1/2 px-4 py-2">Credits</th>
  </thead>
  <tbody>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="3" class="text-left">Freshman Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="3" class="text-left">Fall</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Spring</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Sophomore Year</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Fall</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Spring</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Junior Year</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Fall</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Spring</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Senior Year</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Fall</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">Spring</th>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7A</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <th colspan="3" class="text-left">7B</th>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Intro to Basket Weaving</td>
      <td>ABC 01234</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
{% endblock %}