{% extends "main.html" %}
{% set pagetitle = "Psychology Degree" %}
{% set img = "../images/robinson.jpg" %}
{% set alt = "Robinson Hall" %}

{% block title%}
Bachelor of Arts in Psychology
{% endblock %}

{% block contents %}
<article class="flex-col lg:flex-row flex justify-between">
  <div class="lg:w-1/2">
    <p>The B.A. in Psychology degree is designed to provide students with a sufficient background in psychology to pursue
      degrees in a variety of professions as well as graduate schools in certain fields. This degree also affords students
      the opportunity to specialize in other areas through minors,
      concentration, and Certificates of Undergraduate Studies (CUGS).</p>
  </div>
  <div class="lg:w-1/2">
    <section class="videoWrapper">
      <iframe src="https://www.youtube.com/embed/wpDAOzMEWEs?rel=0&hd=1" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </section>
  </div>
</article>


<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Potential Careers</h2>
<p>
<ul class="mt-4 list-none">
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Clinical Psychologist*</span><span class="text-light text-gray-500 inline-block px-4">Earn upwards of <strong>$82,180</strong></span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Counseling- Mental Health/Substance Abuse</span><span class="text-light text-gray-500 inline-block px-4">Earn upwards of <strong>$47,660</strong></span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">Industrial-Organizational Psychologist*</span><span class="text-light text-gray-500 inline-block px-4">Earn upwards of <strong>$96,270</strong></span>
  </li>
  <li class="mt-3 flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 mt-px mr-3 flex-shrink-0">
      <circle cx="12" cy="12" r="10" class="text-navy-200 fill-current"></circle>
      <path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"
        class="text-navy-600 fill-current"></path>
    </svg>
    <span class="-mt-px">School Psychologist*</span><span class="text-light text-gray-500 inline-block px-4">Earn upwards of <strong>$87,590</strong></span>
  </li>
</ul>
</p>
<small class="block my-3"><em>*Requires education beyond bachelor's</em></small>

<small class="block my-3"><em>Wage data from BLS.gov and O*NET OnLine</em></small>
<hr class="mb-4">

<h2 class="text-3xl font-medium tracking-wide text-gold-900 md:mb-8">Courses and Program Guide</h2>
<p class="mb-2">All Rowan Partnership Online programs have been designed to be delivered in an convenient online format. These courses are
  designed to help you get the information you need at a pace you'll love.</p>

<div class="bg-navy-100 border-l-4 border-navy-500 text-navy-900 p-4 my-8 rounded" role="alert">
  <p class="font-bold">Accelerating Your Learning</p>
  <p>Many Rowan Partnership Online courses offer a 7-week format for courses as opposed to a traditional 15 week format. Rather than taking five
    or six courses all at the same time, you can take two or three and go further in-depth and get the education you deserve.
  </p>
</div>

<hr class="mb-4">

<table class="overflow-x-scroll border-collapse block w-full">
  <thead class="bg-white top-0 sticky">
    <th class="w-2/6 px-2 py-2 text-left">Course Name</th>
    <th class="w-1/6 px-2 py-2 text-left">RCSJ Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Credits</th>
    <th class="w-1/6 px-2 py-2 text-left">RU Course Number</th>
    <th class="w-1/6 px-2 py-2 text-left">Rowan Core</th>
  </thead>
  <tbody>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">First Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition I</td>
      <td class="font-mono">ENG 101</td>
      <td>3</td>
      <td class="font-mono">COMP 01111</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Math Elective</td>
      <td class="font-mono">MAT ___</td>
      <td>3</td>
      <td class="font-mono">____ _____</td>
      <td>QNTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>General Psychology</td>
      <td class="font-mono">PSY 101</td>
      <td>3</td>
      <td class="font-mono">PSY 01107</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Art (or Music) Appreciation I</td>
      <td class="font-mono">ART 101<br />MUS 101</td>
      <td>3</td>
      <td class="font-mono">ARHS 03130<br /> MUSG 06109</td>
      <td>ARTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>History of Western Civilization I</td>
      <td class="font-mono">HIS 101</td>
      <td>3</td>
      <td class="font-mono">HIST 05100</td>
      <td>HUML</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Composition II</td>
      <td class="font-mono">ENG 102</td>
      <td>3</td>
      <td class="font-mono">COMP 01112</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Statistics</td>
      <td class="font-mono">MAT 103</td>
      <td>3</td>
      <td class="font-mono">STAT 02260</td>
      <td>QNTL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology of Adolescent (or) Child Psychology</td>
      <td class="font-mono">PSY 212<br />PSY 213</td>
      <td>3</td>
      <td class="font-mono">PSY 09210<br />PSY 09209</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>History of Western Civilization II</td>
      <td class="font-mono">HIS 102</td>
      <td>3</td>
      <td class="font-mono">HIST 05101</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Health & Phys.Ed. Elective</td>
      <td class="font-mono">HPE ___</td>
      <td>1</td>
      <td class="font-mono">____ _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology of Human Development</td>
      <td class="font-mono">PSY 211</td>
      <td>3</td>
      <td class="font-mono">PSY 09218</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Second Year</th>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Lab Science Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>English Literature Elective</td>
      <td class="font-mono">ENG ___</td>
      <td>3</td>
      <td class="font-mono">____ _____</td>
      <td>LIT</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Principles of Sociology</td>
      <td class="font-mono">SOC 101</td>
      <td>3</td>
      <td class="font-mono">SOC 08120</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology Elective</td>
      <td class="font-mono">PSY ___</td>
      <td>3</td>
      <td class="font-mono">PSY _____</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology Elective</td>
      <td class="font-mono">PSY ___</td>
      <td>3</td>
      <td class="font-mono">PSY _____</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-100 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-lg font-medium bg-navy-100 text-navy-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Oral Communication</td>
      <td class="font-mono">SPE 101</td>
      <td>3</td>
      <td class="font-mono">CMS 02405</td>
      <td>COML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Lab Science Elective</td>
      <td class="font-mono">___ ___</td>
      <td>4</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Ethics</td>
      <td class="font-mono">PHI 104</td>
      <td>3</td>
      <td class="font-mono">PHIL 09150</td>
      <td>HUML</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology Elective</td>
      <td class="font-mono">PSY ___</td>
      <td>3</td>
      <td class="font-mono">PSY _____</td>
      <td>____</td>
    </tr>
    <tr class="bg-navy-200 border-navy-500 text-navy-900">
      <th colspan="5" class="text-center text-xl font-semibold">Associate Degree Awarded</th>
    </tr>
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Third Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psych. of Scientific Thinking</td>
      <td class="font-mono">PSY 305</td>
      <td>3</td>
      <td class="font-mono">PSY 01106</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Social Psychology</td>
      <td class="font-mono">PSY 240</td>
      <td>3</td>
      <td class="font-mono">PSY 05206</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Religions of the World</td>
      <td class="font-mono">PHI 110</td>
      <td>3</td>
      <td class="font-mono">REL 10200</td>
      <td>GLBL</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Psychology as a Profession and Practice</td>
      <td class="font-mono">PSY 310</td>
      <td>3</td>
      <td class="font-mono">PSY 02257</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Abnormal Psychology</td>
      <td class="font-mono">PSY 230</td>
      <td>3</td>
      <td class="font-mono">PSY 03200</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-xl font-semibold">Fourth Year</th>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Fall</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Statistics in Psychology</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">PSY 07202</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Learning & Behavior<br />Cognitive Psychology</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">PSY 02310<br />PSY 01327</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>WI</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
      <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Spring</th>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Research Methods in Psychology</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">PSY 07201</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Physiological Psychology<br />Perception</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">PSY 10315<br />PSY 01326</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
    <tr class="border-b-2 border-gray-300">
      <td>Free Elective</td>
      <td class="font-mono">___ ___</td>
      <td>3</td>
      <td class="font-mono">Free Elec.</td>
      <td>____</td>
    </tr>
  </tbody>
</table>
{% endblock %}