<div class="flex justify-end">
  <div class="grid grid-cols-2 gap-4"><a href="#campaign"
      class="mt-2 sm:ml-0 sm:mt-1 w-full sm:w-auto inline-flex items-center justify-center px-2 py-2 border border-transparent text-base leading-6 font-semibold rounded-md text-white bg-navy-200 shadow-sm hover:bg-navy-300 focus:outline-none focus:bg-navy-400 transition ease-in-out duration-150 xl:text-lg xl:py-1">
      Learn More →
    </a><a id="appAction" href="apply.html"
      class="mt-2 sm:ml-0 sm:mt-1 w-full sm:w-auto inline-flex items-center justify-center px-2 py-2 border border-transparent text-base leading-6 font-semibold rounded-md text-white bg-navy-500 shadow-sm hover:bg-navy-400 focus:outline-none focus:bg-navy-600 transition ease-in-out duration-150 xl:text-lg xl:py-1">
      Apply Now →
    </a></div>
</div>