<details class="my-8 border-l-8 border-gold-300">
  <summary
    class="text-xl font-medium tracking-wide text-brown-500 font-semibold hover:bg-yellow-100 focus:bg-yellow-100 w-full p-8 cursor-pointer">
    View Requirements for Transfer</summary>
  <section class="p-4">
    <hr class="h-0.5 bg-brown-300">
    <ul class="list-disc mb-3 pl-8 text-gray-700">
      <li>Earned AS Business Administration Degree</li>
      <li>Minimum of 2.5 GPA</li>
      <li>Completion of MAT 152: Applied Calculus with a grade of C- or better</li>
      <li>Completion of MAT 103: Statistics with a grade of C- or better</li>
    </ul>
    <hr class="h-0.5 bg-brown-300 mb-3">
    <p class="italic">In the event that students have associate’s degrees in other areas, the following are minimum
      transfer requirements and
      recommendations specifically for the RPO program:</p>
    <table class="overflow-x-auto border-collapse block w-full">
      <thead class="bg-white top-0 sticky w-full">
        <tr class="bg-yellow-400 border-yellow-500 text-yellow-900">
          <th colspan="5" class="text-center text-xl font-semibold">Business</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
          <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Required
          </th>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">ENG 101</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">ENG 102</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">CIS 102</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">MAT 152 or MAT 108<br /><em class="text-red-500">Min of C- Required</em></td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">MAT 103<br /><em class="text-red-500">Min of C- Required</em></td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">ECO 101</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">ECO 102</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">CIS 207</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">BUS 102</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">BUS 103</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">BUS 107</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">BUS 108</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">BUS 221</td>
        </tr>
        <tr class="bg-yellow-300 border-yellow-500 text-yellow-900">
          <th colspan="5" class="text-center text-lg font-medium bg-yellow-300 text-yellow-900 top-0 sticky">Recommended
          </th>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">SPE 101</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">ART 101 or MUS 101</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">SCI Literacy</td>
        </tr>
        <tr class="border-b-2 border-gray-300">
          <td class="font-mono">LIT Rec: ENG 103 or PHI 104</td>
        </tr>
      </tbody>
    </table>
  </section>
</details>