<footer id="footer" class="relative py-32 w-full bg-brown-500 text-white">
    <div class="flex items-center justify-center font-bold uppercase text-xl my-4 text-white">© 2020 Rowan Partnerships Online.</div>
    <div class="text-center italic text-white">Rowan Partnerships Online is an exclusive partnership between <a href="https://rowan.edu" class="underline text-white">Rowan University</a> and <a href="https://rcsj.edu" class="underline text-white">Rowan College of South Jersey</a>.</div>
</footer>