<aside x-data="{ open: false }" class="sticky lg:relative z-10 top-0 self-start lg:self-auto flex-1 lg:flex-none shadow-xl lg:shadow-none">
    <section class="sticky lg:relative flex flex-row justify-between lg:block lg:flex-col px-2 py-4 lg:pl-0 w-full lg:w-64 top-0">
        <a class="z-10 lg:px-8 px-4" href="index.html">
            <img class="hide lg:block h-24 lg:h-16 xl:h-24" src="../images/RowanOnline_power.png"
                alt="Rowan Online logo in which the O of Online is a power button">
            <img class="lg:hide h-8" src="../images/RowanOnline_power_initials.png"
                alt="Rowan Online logo in which the O of Online is a power button">
        </a>
        <nav class="px-4 lg:px-0 lg:sticky lg:w-64">
            <button class="rounded lg:hidden rounded focus:bg-gold-500 active:bg-gold-500 focus:outline-none focus:shadow-outline" @click="open = !open">
                <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-8">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        class="text-gray-900 fill-current" x-show="!open">
                        <g id="icon-shape">
                            <path
                                d="M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,9 L20,9 L20,11 L0,11 L0,9 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z"
                                id="Combined-Shape"></path>
                        </g>
                    </g>
                    <path x-show="open" fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" lass="text-gray-900 fill-current"></path>
                </svg>
            </button>
        </nav>
    </section>
    <nav :class="{'block': open, 'hidden': !open}" @click.away="open = false" class="flex-grow lg:block">
        <ul id="navigation" class="text-md font-semibold text-gray-900 uppercase tracking-wider leading-loose">
            <li>
                <a href="index.html">
                    <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                        <title>House symbol as flourish to the link</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            class="text-gray-900 fill-current">
                            <g id="icon-shape">
                                <path
                                    d="M17,10 L20,10 L10,0 L0,10 L3,10 L3,20 L17,20 L17,10 Z M8,14 L12,14 L12,20 L8,20 L8,14 Z"
                                    id="Combined-Shape"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="lg:inline-block">Home</span>
                </a>
            </li>
            <li>
                <a href="about.html">
                    <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                        <title>"i" information symbol as flourish to the link</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            class="text-gray-900 fill-current">
                            <g id="icon-shape">
                                <path
                                    d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                                    id="Combined-Shape"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="lg:inline-block">About Us</span>
                </a>
            </li>
            <li>
                <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                    <title>Graduation cap as flourish to the link</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        class="text-gray-900 fill-current">
                        <g id="icon-shape">
                            <path
                                d="M3.33333333,8 L10,12 L20,6 L10,0 L-5.55111512e-16,6 L10,6 L10,6.5 L10,8 L3.33333333,8 L3.33333333,8 Z M1.33226763e-15,8 L1.33226763e-15,16 L2,13.7777778 L2,9.2 L2,9.2 L1.33226763e-15,8 L1.11022302e-16,8 L1.33226763e-15,8 Z M10,20 L5,16.9999998 L3,15.8 L3,9.8 L10,14 L17,9.8 L17,15.8 L10,20 L10,20 Z"
                                id="Combined-Shape"></path>
                        </g>
                    </g>
                </svg>
                <span class="lg:inline-block dd__heading">Programs</span>
                <ul class="pl-1 lg:block lg:pl-4 text-sm font-normal text-gray-700 normal-case leading-slug tracking-wide">
                    <li><a href="entrepreneurship.html" class="hover:underline">Entrepreneurship</a></li>
                    <li><a href="computing-informatics.html" class="hidden hover:underline">Computing Informatics</a></li>
                    <li><a href="construction-management.html" class="hover:underline">Construction Management</a></li>
                    <li><a href="hr.html" class="hover:underline">Human Resource Management</a></li>
                    <li><a href="mis.html" class="hover:underline">Management Information Systems</a></li>
                    <li><a href="psychology.html" class="hover:underline">Psychology</a></li>
                </ul>
            </li>
            <li>
                <a href="apply.html">
                    <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                        <title>Plus sign as flourish to the link</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            class="text-gray-900 fill-current">
                            <g id="icon-shape">
                                <path
                                    d="M11,9 L11,5 L9,5 L9,9 L5,9 L5,11 L9,11 L9,15 L11,15 L11,11 L15,11 L15,9 L11,9 Z M10,20 C15.5228475,20 20,15.5228475 20,10 C20,4.4771525 15.5228475,0 10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 Z"
                                    id="Combined-Shape"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="lg:inline-block">Admissions</span>
                </a>
            </li>
            <li>
                <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        class="text-gray-900 fill-current">
                        <g id="icon-shape">
                            <path
                                d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z"
                                id="Combined-Shape"></path>
                        </g>
                    </g>
                </svg>
                <span class="lg:inline-block dd__heading">Appointments</span>
                <ul class="pl-1 lg:block lg:pl-4 text-sm font-normal text-gray-700 normal-case leading-slug tracking-wide">
                    <li><a href="https://outlook.office365.com/owa/calendar/RowanUniversityCenter@rowancollegesj.onmicrosoft.com/bookings/s/U3wR9lJJqUm9C3IGBBVq-Q2" target="_blank" class="hover:underline">RPO One-on-One</a></li>
                    <li><a href="https://outlook.office365.com/owa/calendar/RowanUniversityCenter@rowancollegesj.onmicrosoft.com/bookings/s/QqyHLvoWcUyJemwqVjUKEw2" target="_blank" class="hover:underline">RPO Advising</a></li>
                </ul>
            </li>
            <li class="hidden" aria-hidden="true">
                <a href="#">
                    <svg role="img" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" class="inline h-3">
                        <title>Money symbol as flourish to the link</title>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            class="text-gray-900 fill-current">
                            <g id="icon-shape">
                                <path
                                    d="M10,20 C15.5228475,20 20,15.5228475 20,10 C20,4.4771525 15.5228475,0 10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 Z M11,15 L11,17 L9,17 L9,15 L6,15 L6,13 L10.5838882,13 L11.9970707,13 C12.5621186,13 13,12.5522847 13,12 C13,11.4438648 12.5509732,11 11.9970707,11 L10.5838882,11 L8,11 C6.34314575,11 5,9.65685425 5,8 C5,6.34314575 6.34314575,5 8,5 L9,5 L9,3 L11,3 L11,5 L14,5 L14,7 L9.41464715,7 L7.99077797,7 C7.45097518,7 7,7.44771525 7,8 C7,8.55613518 7.44358641,9 7.99077797,9 L9.41464715,9 L12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 L11,15 Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <span class="lg:inline-block">Paying for College</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>