<footer id="campaign" class="form-context py-16 md:py-32 lg:py-64 w-full bg-gold-200 text-gold-900">
    <div class="container flex">
        <h2 class="uppercase leading-loose tracking-wide text-brown-500 font-medium text-4xl">Let's Keep in Touch</h2>
    </div>          
    <div class="container flex bg-gray-100 p-4 md:p-8 lg:p-16">
        <div id="form_1fc2be6d-0300-4a61-afa2-aa3d9cb02991" class="form-context__form">Loading...</div><script async="async" src="https://apply.rowan.edu/register/?id=1fc2be6d-0300-4a61-afa2-aa3d9cb02991&amp;output=embed&amp;div=form_1fc2be6d-0300-4a61-afa2-aa3d9cb02991">/**/</script>
    </div>
</footer>