<p class="skip-link noindex">
  <a href="#form_1fc2be6d-0300-4a61-afa2-aa3d9cb02991" class="sr-only sr-only-focusable" aria-label="Jump to navigation link">Jump to form</a>
</p>
<p class="skip-link noindex">
  <a href="#main-wrapper" class="sr-only sr-only-focusable" aria-label="Jump to main content link">Jump to intro</a>
</p>
<p class="skip-link noindex">
  <a href="#main" class="sr-only sr-only-focusable" aria-label="Jump to main content link">Jump to main content</a>
</p>
<p class="skip-link noindex">
  <a href="#footer" class="sr-only sr-only-focusable" aria-label="Jump to footer link">Jump to footer</a>
</p>