<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pagetitle }} | Rowan Partnerships Online</title>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KBS9C8J');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="../assets/bundled.css">
    {% include "partials/preconnect.html" %}
</head>
<body class="border-t-8 border-gold-500 bg-white sidenavLayout min-h-screen">
    {% include "partials/ada.html" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBS9C8J" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container flex flex-wrap md:px-8 lg:min-h-screen self-start">
        {% include "partials/nav.html" %}
        <main id="main" class="flex-row lg:flex-1 lg:flex-col w-full lg:w-auto" style="content-visibility: auto;">
            <section class="relative w-full h-64 relative pb-2/3 hero-transparent">
                <img class="rounded md:rounded-none absolute h-full w-full object-cover" src="{{img}}" alt="{{alt}}">
            </section>
            
            <section class="md:mt-8 px-4 md:px-8 pb-4">
                <div class="flex flex-col justify-between items-center md:flex-row mb-4 md:mb-8">
                    <h1 class="text-4xl font-medium tracking-wide text-gold-900 mb-8 md:mb-0 max-w-screen-md">
                        {% block title %}
                        {% endblock %}
                    </h1>
                    {% include "partials/actions.html" %}
                </div>
                
                

               {% block contents %}
               {% endblock %}
            </section>
        </main>
        
    </div>
    {% include "partials/rfi.html" %}
    {% include "partials/copyright.html" %}
    {% include "partials/instant.html" %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>
</html>